* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Top bar section */
header {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #f6f0f0;
}
/* Main navbar  */
.nav-top {
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 20px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 92px;
}

/* Logo -section */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
width: 139px;
height: 60px;     
}

/* menu Section */
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 365px;
  height: 24px;
  gap: 32px;
}
.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
}

/* Right side button */
.btn {
  padding: 12px 16px;
  border-radius: 4px;
  background: #469165;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

/* Hero section / Banner*/
.hero {
  width: 100%;
  min-height: 560px;                 
  background-image: url("../assets/hero-bg.png"); 
  background-size: cover;
  background-position: center;
}

.hero-container {
  width: 100%;
  height: 774px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  font-size: 72px;
  max-width: 900px;
  text-align: center;
  color: #ffffff;
  padding: 80px 16px 120px;
}

.hero-bt {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  border-radius: 999px;
  background: #ffffff;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}

.hero-dot {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  font-weight: 600;
  background: #30B868;
}
.hero-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-title-color {
  color: #22c55e;
}

.hero-subtitle {
  width: 100%;
  max-width: 620px;
  margin: 0 auto 28px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/* Two buttons*/
.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;         
  flex-wrap: wrap;    

  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
/* Left green button */
.hero-btn.primary {
  background: #469165;
  color: #ffffff;
  border: 1px solid  #30B868;
}

/* Right button */
.hero-btn.secondary {
  color: #ffffff;
  border: 2px solid rgba(148, 163, 184, 0.6);
}


