* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Top bar section */
header {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #f6f0f0;
}
/* Main navbar  */
.nav-top {
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 20px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 92px;
}

/* Logo -section */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
width: 139px;
height: 60px;     
}

/* menu Section */
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 365px;
  height: 24px;
  gap: 32px;
}
.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
}

/* Right side button */
.btn {
  padding: 12px 16px;
  border-radius: 4px;
  background: #30B868;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}


