* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top bar section */
header {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #f6f0f0;
}

/* Main navbar  */
.nav-top {
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 92px;
}

/* share hover all */




/* Logo -section */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 139px;
  height: 60px;
}

/* menu Section */
/* .nav-links {
  display: flex;
  justify-content: space-between;
  width: 365px;
  height: 2px;
  gap: 32px;
} */

.nav-links{
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
}
.nav-links a:hover {
  background-color: #469165;
  border-radius: 2px;
  color: #ffffff;
}

/* Right side button */
.btn {
  padding: 12px 16px;
  border-radius: 4px;
  background: #469165;
  border: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(23, 119, 151);
  transform: scale(1.03);
  transition: 300ms;
}

/* Hero section / Banner*/
.hero {
  width: 100%;
  min-height: 560px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}

.hero-container {
  width: 100%;
  height: 774px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  font-size: 72px;
  max-width: 900px;
  text-align: center;
  color: #ffffff;
  padding: 80px 16px 120px;
}

.hero-bt {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  border-radius: 999px;
  background: #ffffff;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}

.hero-dot {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  font-weight: 600;
  background: #30B868;
}

.hero-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-title-color {
  color: #22c55e;
}

.hero-subtitle {
  width: 100%;
  max-width: 620px;
  margin: 0 auto 28px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/* Two buttons*/
.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;

  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Left green button */
.hero-btn.primary {
  background: #469165;
  color: #ffffff;
  border: 1px solid #30B868;
}

.hero-btn.primary:hover {
  background-color: rgb(23, 119, 151);
  transform: scale(1.03);
  transition: 300ms;
}
/* Right button */
.hero-btn.secondary {
  color: #ffffff;
  border: 2px solid rgba(148, 163, 184, 0.6);
}

.hero-btn.secondary:hover {
  background-color: rgba(148, 163, 184, 0.6);
  color: #001931;
  transition: 300ms;
}


/* Notes section */
.note-section {
  width: 100%;
  padding: 96px 0 120px;

}

.note-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;

}

.note-header {
  text-align: center;
  margin-bottom: 72px;
  background-color: transparent;
}

.note-header .note-heading {
  font-size: 48px;
  font-weight: 900;
  color: #001931;
  line-height: 100%;
  margin-bottom: 25px;
}

.note-subtitle {
  font-size: 16px;
  color: #627382;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Four cards */
.note-four-card {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.note-four-card .note-card {
  flex: 1 1 0;
  background: #ffffff;
  border-radius: 8px;
  padding: 32px 24px 28px;
  text-align: center;
  box-shadow: 0 18px 40px rgba(15, 23, 42, 0.06);
}

.note-icon-wrap {
  width: 72px;
  height: 72px;
  margin: 0 auto 20px;
  border-radius: 9999px;
  background: #ff5c5c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.note-four-card .note-card .note-title {
  font-size: 16px;
  font-weight: 700;
  color: #020617;
  margin-bottom: 8px;
}

.note-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
}

/* complete note section  */

.brain-section {
  width: 100%;
  padding: 96px 0 120px;
  background: #ffffff;
}

.brain-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 60px;
}

/* Left image */
.brain-image-wrap {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

/* Right side content  */
.brain-content {
  flex: 1 1 0;
}

/* green dot */
.brain-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #30B868;
  margin-bottom: 12px;
}

.brain-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  color: #001931;
  margin-bottom: 16px;
}

.brain-description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 20px;
  max-width: 420px;
}

.brain-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.brain-list li {
  position: relative;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
  margin-bottom: 6px;
}

.brain-list li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 999px;
  background: #30B868;
}

.brain-list a {
  font-size: 14px;
  color: #001931;
  text-decoration: none;
}

.brain-list a:hover {
  text-decoration: underline;
}

/* Brain-section complete */


/* Early access section */
body {
  /* background-color: #ffffff; */
  background-color: #F7F6F2;
}

.early-access {
  width: 100%;
  padding: 80px 0;
  background-color: #ffffff;
}

.early-access__card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 80px 44px;
  text-align: center;
  background-color: #f7f7f0;
  border-radius: 16px;
}

/* heading */
.early-access__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  font-family: inter;
  color: #001931;
  margin-bottom: 10px;
}

.early-access__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 18px;
}

.early-access__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 9px 24px;
  border-radius: 3px;
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 14px;
}
.early-access__button:hover {
  background-color: rgb(23, 119, 151);
  transform: scale(1.03);
  transition: 300ms;
}


.early-access__note {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}


/* Footer section start */

.site-footer {
  width: 100%;
  /* max-height: 348px; */
  padding: 40px 0 28px;
  background-color: #001931;
  color: #e5e7eb;
  font-size: 13px;
}

.site-footer__top {
  max-width: 1100px;
  margin: 0 auto 24px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* social block */
.site-footer__social {
  text-align: right;
}

.site-footer__social-label {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #ffffff;
  text-align: center;
}

.site-footer__social-icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.site-footer__social-icons:hover {
  opacity: 0.8;

}

/* divider */
.site-footer__divider {
  max-width: 1100px;
  margin: 0 auto 16px;
  border: 0;
  border-top: 1px solid rgba(148, 163, 184, 0.3);
}

.site-footer__copy {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}